.custom-dropdown-container {
    width: 11rem;
    height: 3rem;
    border-radius: 0.25rem;
    background-color: white;
    position: relative;
    cursor: pointer;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid black;
    box-shadow: 0 2px 2px gray;
    transition-duration: 0.5s;
    display: flex;
    place-items: center;
    justify-content: center;
  }

  .custom-dropdown-container:hover{
    cursor: pointer;
    background-color: rgb(49, 66, 151);
    color: white;
  }
  
  .filter-select {
    width: 98%;
    height: 98%;
    color: black;
    height: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-around;
  }

  .filter-select:hover{
    cursor: pointer;
    background-color: rgb(49, 66, 151);
    color: white;
  }

  .filter-select p{
    line-height: 0;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid rgb(61, 58, 58);
    border-top: none;
    z-index: 10;
   border-radius: 0.25rem;
  }
  
  .dropdown-option {
    padding: 8px;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  .dropdown-option:hover {
    background-color: rgb(60, 59, 61);
    color: white;
  }

  .dropdown-option:last-child {
    border-bottom: 1px solid rgb(61, 58, 58);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .dropdown-option:first-child{
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  } 
  