aside{
    max-height:100vh;
    width: 18vw;
    border: 2px solid black;
    display: flex;
    place-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    color: white;
}

.ops-sidebar-collapse{
    width: 4rem;
}

.side-layout{
    width: 95%;
    height: 98%;
}

.ops-sidebar-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

.ops-sidebar-container-collapse{
    opacity: 0;
}

.collapse-button-container{
    width: 100%;
    height: 1.5rem;
    display: flex;
    margin-top: 0.5rem;
}

.collapse-button-container-not-collapsed{
    justify-content: flex-end;
}

.collapse-button-container-collapsed{
    justify-content: center;
}

.collapse-button{
    position: relative;
    background-color: transparent;
    height: 100%;
    width: 3rem;  
    border: none; 
    transition-duration: 0.5s;
    color: white;
}

.collapse-button:hover{
    cursor: pointer;
}

.collapse-state-button{
    transform: rotate(180deg);
}

.side-logo-container{
    width: 100%;
    height: 4.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.ops-sidebar-lists{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.profile-contianer{
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-bottom: 1px solid gainsboro;
}

.profile-layout{
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img{
    width: 3rem;
    height: 3rem;
    border-radius: 360px;
    border: 1px solid white;
    overflow: hidden;
    display: flex;
    place-items: center;
    justify-content: center;
}

.profile-img img{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.email-container{
    height: 4rem;
}

.sidebar-nav-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ops-sidebar-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;
    border-radius: 0.25rem;
}

.ops-sidebar-list button{
    border: none;
    border-top: 1px solid rgb(207, 200, 200);
}

.ops-sidebar-list button:hover{
    cursor: pointer;
}

.ops-sidebar-list:hover .ops-sidebarlist-link{
    border: 1px solid rgb(188, 183, 183);
    background: transparent;
    color: white;
    border-radius: 0.25rem;
}

.ops-sidebarlist-link{ 
    height: 3rem;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
    color: #262626;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 10px;  
    transition-duration: 0.5s;
    background-color: transparent;
}

.ops-sidebarlist-link p{
    color: white;
}

.not-collopase-list-text{
    margin-right: 2rem;
}

