.contact-container{
    width: 100%;
    height: 50vh;
    display: flex;
    place-items: center;
    justify-content: center;
}

.contact-layout-container{
    width: 93%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
}

.contact-catalouge-container{
    background-color: #F2F2F2;
    border-radius: 1rem;
    display: flex;
    place-items: center;
    justify-content: center;
}

.contact-catalouge{
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.catalouge-address, .catalouge-phone{
    display: flex;
    flex-direction: row;
}

.contact-catalouge :where(h4,h2){
    line-height: 0;
}

.contact-catalouge h4{
    font-weight: 400;
}

.contact-catalouge h2{
    margin-top: 10px;
    font-weight: 500;
}

.catalouge-address p{
    margin-top: 2rem;
}

.catalouge-phone p{
    margin-top: 5px;
}

.contact-form-container{
    width: 100%;
    min-height: 47.25rem;
    display: flex;
    place-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.contact-location-container-layout{
    width: 93%;
}

.contact-location-layout{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
}

.contact-loaction-container{
    background-color: rgb(243, 242, 242);
    border-radius: 1rem;
    display: flex;
    place-items: center;
    justify-content: center;
}

.contact-location{
    width: 93%;
    display: flex;
    flex-direction: column;
}

.contact-location p{
    font-weight: 400;
    font-size: 16px;
}

.contact-location h2{
   margin-bottom: 3rem;
   margin-top: 0;
   font-weight: 700;
   font-size: 20px;
}

.contact-location h4{
    line-height: 0;
    margin-top: 0.5rem;
}

.map-container{
    width: 100%;
    height: 12.5rem;
    background-image: url("/public/alpha-location.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid #CFCFCF;
    border-radius: 12px;
}

.contact-description-detail{
    width: 100%;
    height: 30%;
    margin-top: 2.5rem;
}

.description-detail-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.description-detail-container p{
    font-weight: 400;
    font-size: 16px;
}

.contact-from-container{
    display: flex;
    justify-content: center;
}

.contact-form-container-layout{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.contact-form{
    width: 100%;
    margin-top: 2.25rem;
}

.contact-form-container p{
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.contact-form-container h2{
    margin-top: 0.5rem;
    line-height: 30px;
    font-weight: 700;
    font-size: 20px;
}

.contact-form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.input-container{
  display: flex;
  flex-direction: column;
  height: 64px;
}

.input-container input{
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
   
    padding: 2rem 0rem 0.5rem 2.5rem;
    font-size: medium;
}

.input-container label{
    position: absolute;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 400;
}

.input-icon-container{
    position: absolute;
    margin-top: 1.25rem;
    margin-left: 0.5rem;
}

.text-area-container{
    display: flex;
    flex-direction: column;
    height: 200px;
  }

.text-area-container textarea{
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    padding-left: 2.5rem;
    padding-top: 3rem;
    font-size: medium;
    font-family: sans-serif;
}

.text-area-container label{
    position: absolute;
    margin-top: 1.25rem;
    margin-left: 2.5rem;
    font-size: 14px;
    font-weight: 400;
}

.form-button{
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-button button{
    height: 3rem;
    width: 11.25rem;
    margin-bottom: 10px;
    border-radius: 2rem;
    background-color: blueviolet;
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-button button:hover{
    cursor: pointer;
}

.message-subit-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.message-subit-icon p{
    margin-top: 1rem;
}

@media screen and (max-width: 850px){
    .contact-layout-container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 1rem;
    }

    .catalouge-phone{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 640px){
    .contact-form-container{
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 2rem;
    }

    /* .contact-from-container{

    } */
    .contact-from-container{
        margin-top: 2rem;
    }
    .contact-location-layout{    
        grid-template-columns: repeat(1,1fr);
       
    }

    
    
}