.custom-table-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.custom-table{
    border-collapse: collapse;
}

.custom-table-layout{
    width: 99%;
    min-height: 50vh;
    box-shadow: 0px 2px 2px gray;
    border: 1.5px solid black;
}
/* 77vh */

.column-head{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.column-head-container{
    padding: 35px 20px 35px 20px;
}

.custom-table-container table{
    width: 100%;
    
}

.header-row{
    border-radius: 1rem;  
    background: linear-gradient(to right, #11343b, #625aa7, #271f57);
}
/* background-color: rgb(60, 59, 61); */

.role-container{
    column-gap: 0;
}

.table-data{
    text-align: center;
    width: 70px;
    padding: 10px;
    margin-top: 1rem;
}

.table-image-container{
    width: 100%;
    height: 100px;
   display: flex;
   place-items: center;
   justify-content: center; 
}

.row-background-white{
    background-color: gainsboro;
}

.row-background-gray{
    background-color: white;
}

.table-img-layout{
    width: 50%;
    height: 100%;
}

.table-image-container img{
   object-fit: cover;
   max-width: 100%;
   max-height: 100%;
}

.pagination-control-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-control-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.prev-btn, .next-btn{
    border: none;
    background-color: transparent;
    color: black;
    flex-direction: row;
    align-items: center;
}

.prev-btn:hover, .next-btn:hover{
    cursor: pointer;
}

.pagination-button{
    background-color: transparent;
    border: white;
    color: black;
}

.pagination-button:hover{
    cursor: pointer;
}

.active{
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
}

.pagination-indicator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.disable{
    color: gainsboro;
    cursor: none;
}
