.dashboard-container{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.dashboard-right-side{
    min-height: 100vh;
    width: 85vw;
    display: flex;
    place-items: center;
    justify-content: center;
    margin-left: 15vw;
    overflow: auto;
}