.detail-container {
  width: 100%;
  height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
}

.detail-container-layout {
  width: 90%;
  height: 90%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.detail-description-container {
  width: 60vw;
  min-height: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.25rem;
  transition-duration: 0.5s;
  box-shadow: 0 2px 2px black;
}

.blur-detail-description-container{
  filter: blur(7px) contrast(10%);
}

.description-header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  background: linear-gradient(to right, #11343b, #625aa7, #271f57);
}

.heading-right-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.heading-left-container{
  padding-left: 15px;
}

.heading-left-container button{
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 18px;
  gap: 3px;
}

.heading-left-container button:hover{
  cursor: pointer;
}

.delete-message-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  width: 16rem;
  height: 10rem;
  background-color: white;
  border: 2px solid black;
  z-index: 10;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition-duration: 0.5s;
}

.open-delete-box{
  opacity: 1;
}
 
.delete-loading-text,.detail-loading{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;
}

.delete-box-text h2{
   text-align: center;
   font-size: 20px;
   font-weight: 700;
   font-family: sans-serif;
}

.delete-box-btn-container{
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
}

.delete-box-btn-container button{
  padding: 0.5rem;
  background: linear-gradient(to right, #11343b, #625aa7, #271f57);
  border-radius: 0.5rem;
  border: none;
  transition-duration: 0.5s;
  color: white;
}

.delete-box-btn-container button:hover{
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid black;
}

.delete-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}

.delete-btn:hover{
  cursor: pointer;
}

.edit-label {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  color: white;
}

.edit-label p {
  line-height: 0;
  color: white;
  font-family: sans-serif;
}

.edit-detail-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.description-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.description-image-layout {
  width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.category-field-container{
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.category-field-container-layout{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  gap: 1rem;
}

.category-field-container-layout h3{
  transform: translateX(-4%);
}

.description-image-layout-container{
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.update-main-image-container{
  width: 100%;
  height: 8rem;
  max-height: 8rem;
}

.sub-img-update-field{
  width: 100%;
  height: 4rem;
  max-height: 4rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
}

.description-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.description-text-layout {
  width: 90%;
  height: 100%;
}

.edit-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.edit-form-input-container {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.textarea-container{
  height: 7rem;
}

.textarea-container label{
  font-family: sans-serif;
}


.edit-form-input-container input {
  padding: 10px 0px 10px 10px;
  border-radius: 0.25rem;
  background-color: gainsboro;
  border: none;
  transition-duration: 0.5s;
}

.edit-form-input-container textarea {
  padding: 10px 0px 10px 10px;
  border-radius: 0.25rem;
  background-color: gainsboro;
  border: none;
  transition-duration: 0.5s;
  height: 100%;
  font-family: sans-serif;
}

.edit-form-input-container input.editable {
  border: 1px solid gainsboro;
  background-color: white;
}

.edit-form-input-container textarea.editable {
  border: 1px solid gainsboro;
  background-color: white;
}

.edit-save-button-container {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.edit-save-button-container button {
  width: 4.5rem;
  height: 70%;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  background: linear-gradient(to right, #11343b, #625aa7, #271f57);
  border: none;
  color: white;
  opacity: 0;
  transition-duration: 0.5s;
}

.edit-save-button-container button.editable-button {
  opacity: 1;
}

.edit-save-button-container button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid gray;
}

.description-detail-image{
  position: relative;
  width: 17vw;
  height: 31vh;
}
