.dropdown-container p{
    line-height: 0;
    margin-top: 11px;
    font-family: sans-serif;
}

.custom-dropdown .Dropdown-menu {
  max-height: 200px; /* Set the height as per your requirement */
  overflow-y: auto; /* Enables vertical scrollbar if content exceeds max-height */
}

.Dropdown-root {
    width: 100%;
    position: relative;
  }
  
  .Dropdown-control {
    height: 2rem;
    border-radius: 0.25rem;
   padding: 0rem 0 0 1rem;
    border: 1.5px solid black;
    cursor: pointer;
  }

  .Dropdown-placeholder{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
  }
  
  .Dropdown-menu {
    background-color: white;
    position: absolute;
    width: 99%;
    opacity: 2;
    border: 1px solid #3c3a3a;
    z-index: 1;
  }
  
  .Dropdown-option {
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
  }
  
  .Dropdown-option:hover {
    background: linear-gradient(to right, #11343b, #625aa7, #271f57);
    color: white;
  }