footer{
    width: 100%;
    overflow: hidden;
    background-color: #4D4D4F;
    font-family: 'Sansation', sans-serif;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-layout{
    width: 93%;
    display: flex;
    flex-direction: column;
}

.footer-container-main{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
}

.location{
    width: 32%;
    padding-top: 2rem;
   display: flex;
   place-items: center;
   justify-content: center;
}

.location-layout{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.location-logo{
    width: 100%;
}

.location-description{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 8px; 
    color: white;
}

.location-description p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    font-family: 'Sansation', sans-serif;
}

.location-icon{
    margin-top: 0.25rem;
}

.section-container{
    margin-top: 3rem;
    height: 100%;
    width: 68%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-container-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy-right{
    text-align: center;
    width: 100%;
    border-top: 1px solid gray;
    font-family: 'Sansation', sans-serif;
    color: white;
}

.section{
    display: flex;
    flex-direction: column;
}

.section h3{
 padding-left: 2.5rem;
 font-family: 'Sansation', sans-serif;
 color: white;
}

.section.one ul, .section.two ul, .section.three ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section li{
    list-style: none;
    font-family: 'Sansation', sans-serif;
}

.section li a{
    text-decoration: none;
    color: white;
}

.link, .call, .follow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 5px;
    font-family: 'Sansation', sans-serif;
    color: white;
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 720px){
    .footer-container-main{
        flex-direction: column !important;
    }

    .location{
        width: 100% !important;
        justify-content: left !important;
        height: auto !important;
    }

    .location-layout{
        width: 100% !important;
    }

    .footer-container-main{
        height: 55rem !important;
    }

    .section-container{
        width: 100% !important;
        height: 20rem !important;
        grid-template-columns: 1fr !important;
    }

    .section h3{
        padding-left: 0.5rem !important;
    }
}