footer{
    width: 100%;
    overflow: hidden;
    background-color: #4D4D4F;
    font-family: 'Poppins', sans-serif;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-layout{
    width: 93%;
    display: flex;
    flex-direction: column;
}

.footer-container-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.location{
    width: 32%;
    padding-top: 2rem;
   display: flex;
   place-items: center;
   justify-content: left;
}

.location-layout{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
}

.location-logo{
    width: 11rem;
    height: 3.5rem;
    padding-top: 0.5rem;
    background-color: rgb(48, 48, 143);
    display: flex;
    place-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    margin-top: 1rem;
}

.location-logo img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.location-description{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1.5rem; 
    color: white;
}

.location-link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.location-description p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
}

.location-icon{
    margin-top: 1rem;
}

.section-container{
    margin-top: 3rem;
    height: 100%;
    width: 68%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-container-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy-right{
    text-align: center;
    width: 100%;
    border-top: 1px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    padding: 1rem 0 1rem 0;
    font-size: small;
}

.section{
    display: flex;
    flex-direction: column;
}

.section h3{
 padding-left: 2.5rem;
 font-family: 'Poppins', sans-serif;
 color: white;
 font-weight: 500;
 font-size: medium;
}

.section.one ul, .section.two ul, .section.three ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.section li a{
    text-decoration: none;
    color: white;
    font-size: small;
}

.section ul{
    row-gap: 1rem;
}

.link, .call, .follow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.call a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 1024px){
    .location-logo{
        width: 65%;
    }
}

@media screen and (max-width: 860px){
    .location-logo{
        width: 85%;
    }
}

@media screen and (max-width: 720px){
    .footer-container-main{
        flex-direction: column !important;
    }

    .location{
        width: 100% !important;
        justify-content: left !important;
        height: auto !important;
    }

    .location-layout{
        width: 100% !important;
    }

    .footer-container-main{
        height: 55rem !important;
    }

    .section-container{
        width: 100% !important;
        height: 20rem !important;
        grid-template-columns: 1fr !important;
    }

    .section h3{
        padding-left: 0.5rem !important;
    }
}

@media screen and (max-width: 520px){
    .location-logo{
        width: 45%;
    }
}

@media screen and (max-width: 355px){
    .location-logo{
        width: 50%;
    }
}



/* @media screen and (max-width: 370px){
    .download-container{
        height: 65rem !important;       
    }
} */