header{
    width: 100%;
    height: 6rem;
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: #4D4D4F;
    position: fixed;
    z-index: 100;
}

nav{
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-left{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.nav-right ul{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style: none;
}

.nav-icon a{
    text-decoration: none;
    color: white;
}

.hotline{
    height: 30%;
    border: 1px solid white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
    background-color: transparent;
}

.hotline a{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
}

.hotline a:hover{
    cursor: pointer;
}

.hotline span{
    margin-left: 2px;
}

@media screen and (max-width: 1100px){
    
    .nav-left{   
        padding-left: 3rem;
    }
    
    .nav-right{
        padding-right: 3rem;      
    }

    .nav-right{
        gap: 2rem;
    }

    .nav-right ul{
        gap: 2rem;      
    }
}

@media screen and (max-width: 1100px){
    nav{
        justify-content: space-between;
        width: 93%;
    }
    .nav-right{
        display: none;
    }

    .nav-left{
        padding-left: 0;
    }
}

@media screen and (max-width: 844px){
    nav{
        justify-content: space-between;
        width: 93%;
    }
    .nav-right{
        display: none;
    }

    .nav-left{
        padding-left: 0;
    }
}