.home-container {
  overflow: hidden;
}

.showcase {
  width: 100%;
  height: 34.25rem;
  display: flex;
  place-items: center;
  justify-content: center;
}

.showcase-layout {
  width: 93%;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  column-gap: 1.5rem;
}

.showcase-left {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase-left {
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.showcase-right {
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.showcase-left {
  transform: translateY(-100%);
}

.showcase-right {
  transform: translateY(100%);
}

.animate-left {
  transform: translateX(0);
  opacity: 1;
}

.animate-right {
  transform: translateX(0);
  opacity: 1;
}

.showcase-left-img {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 235, 231);
  border-radius: 1rem;
}

.showcase-right {
  grid-column: span 8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.hero-container {
  width: 100%;
  height: 37.5rem;
}

.hero {
  width: 100%;
  height: 100%;
}

.mvp-container {
  width: 100%;
  height: 42.5rem;
  display: flex;
  place-items: center;
  justify-content: center;
}

.mvp {
  width: 93%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.mvp-description {
  width: 41rem;
  height: 23.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.mvp-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 3px;
}

.mvp-text p {
  font-family: sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #262626;
}

.bottom-paragraph {
  margin-top: 0;
}

.mvp-heading {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.mvp-heading h3 {
  font-family: sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  color: #262626;
}

.mvp-heading h2 {
  font-family: sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
  margin-top: 10px;
  color: #262626;
}

.mvp-button {
  height: 3rem;
  width: 9rem;
  background-color: #4a4ccd;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: center;
}

.mvp-button a {
  text-decoration: none;
  color: white;
  margin-bottom: 2px;
}

.mvp-image-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mvp-image {
  width: 12.5rem;
  height: 100%;
  border: 1px solid gray;
  margin-right: 0;
}

.mvp-image img {
  height: 100%;
}

.showcase-left-img {
  background-image: url("/public/show-left.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.showcaseleft-img-text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 1rem;
}

.showcaseleft-img-text h2 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
}

.left-img-button-container {
  width: 113px;
  height: 40px;
  padding-right: 1.5rem;
  margin-top: 2rem;
}

.showcaseleft-img-text a {
  text-decoration: none;
  background-color: #4a4ccd;
  color: white;
  border-radius: 1.5rem;
  padding: 6px 10px 8px 10px;
  text-align: center;
}

.showcase-left-image-icon {
  width: 90%;
  height: 13rem;
  background-image: url("/public/htoo.png");
  background-position: center;
  background-size: cover;
}

.advertise-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.download-container {
  width: 100%;
  height: 35.1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("/public/download-bg.png");
  background-position: center;
  background-size: cover;
}

.icon {
  display: flex;
  place-items: center;
  justify-content: center;
}

.phone-icon-container {
  position: relative;
  width: 28rem;
  height: 27rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.phone-icon1 {
  width: 20.5rem;
  height: 20.5rem;
}

.phone-icon2 {
  z-index: 2;
  position: absolute;
  margin-right: 2rem;
  height: 27rem;
  width: 12rem;
  right: 0;
}

.download-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.download-description h2 {
  font-weight: 700;
  font-size: 35px;
  font-family: sans-serif;
}

.download-text {
  font-weight: 400;
  font-size: 19px;
  font-family: sans-serif;
}

.download-app-icon {
  height: 6rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.playstore-container,
.apple-container {
  width: 12rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  place-items: center;
}

.apple {
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 1s, opacity 1s;
  opacity: 0;
}

.playstore {
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}

.download-button-grow {
  transform: translateX(0);
  opacity: 1;
}

.playstore-link,
.apple-link {
  list-style: none;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.badge-container {
  width: 93%;
  height: 25vh;
  position: absolute;
  opacity: 10;
  background-color: rgb(251, 251, 251);
  margin-bottom: 1.5rem;
  z-index: 1;
  border-radius: 1rem;
  box-shadow: 1px 2px 8px gray;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: transform 1.5s, opacity 1.5s;
  opacity: 1;
}

.badge-container-open {
  animation: badgegrow 0.5s ease-in-out forwards;
  opacity: 1;
}

.property-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 30px 0;
}

.property-logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid gainsboro;
}

.property-logo-container p {
  margin-bottom: 0;
  transform: translateY(70%);
  font-weight: 700;
  font-size: 17px;
}

.easy-image,
.simple-image,
.effortless-image {
  height: 3.1rem;
  width: 3.1rem;
}

.easy p,
.simple p,
.effortless p {
  text-align: center;
  width: 100%;
}

.find-us-container {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.find-us {
  width: 93%;
  height: 60%;
  margin-top: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.find-us-text {
  width: 18.25rem;
  height: 16.563rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.find-us-section {
  width: 19.75rem;
  height: 100%;
}

.find-us-text h2 {
  font-size: 33px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 0;
}

.find-us-descritpion {
  margin-top: 3rem;
}

.find-us-descritpion p {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}



@keyframes buttongrow {
  0% {
    width: 0%;
    height: 0%;
  }
  1% {
    width: 1%;
    height: 1%;
  }
  2% {
    width: 2%;
    height: 2%;
  }
  3% {
    width: 3%;
    height: 3%;
  }
  4% {
    width: 4%;
    height: 4%;
  }
  5% {
    width: 5%;
    height: 5%;
  }
  6% {
    width: 6%;
    height: 6%;
  }
  7% {
    width: 7%;
    height: 7%;
  }
  8% {
    width: 8%;
    height: 8%;
  }
  9% {
    width: 9%;
    height: 9%;
  }
  10% {
    width: 10%;
    height: 10%;
  }
  11% {
    width: 11%;
    height: 11%;
  }
  12% {
    width: 12%;
    height: 12%;
  }
  13% {
    width: 13%;
    height: 13%;
  }
  14% {
    width: 14%;
    height: 14%;
  }
  15% {
    width: 15%;
    height: 15%;
  }
  16% {
    width: 16%;
    height: 16%;
  }
  17% {
    width: 17%;
    height: 17%;
  }
  18% {
    width: 18%;
    height: 18%;
  }
  19% {
    width: 19%;
    height: 19%;
  }
  20% {
    width: 20%;
    height: 20%;
  }
  21% {
    width: 21%;
    height: 21%;
  }
  22% {
    width: 22%;
    height: 22%;
  }
  23% {
    width: 23%;
    height: 23%;
  }
  24% {
    width: 24%;
    height: 24%;
  }
  25% {
    width: 25%;
    height: 25%;
  }
  26% {
    width: 26%;
    height: 26%;
  }
  27% {
    width: 27%;
    height: 27%;
  }
  28% {
    width: 28%;
    height: 28%;
  }
  29% {
    width: 29%;
    height: 29%;
  }
  30% {
    width: 30%;
    height: 30%;
  }
  31% {
    width: 31%;
    height: 31%;
  }
  32% {
    width: 32%;
    height: 32%;
  }
  33% {
    width: 33%;
    height: 33%;
  }
  34% {
    width: 34%;
    height: 34%;
  }
  35% {
    width: 35%;
    height: 35%;
  }
  36% {
    width: 36%;
    height: 36%;
  }
  37% {
    width: 37%;
    height: 37%;
  }
  38% {
    width: 38%;
    height: 38%;
  }
  39% {
    width: 39%;
    height: 39%;
  }
  40% {
    width: 40%;
    height: 40%;
  }
  41% {
    width: 41%;
    height: 41%;
  }
  42% {
    width: 42%;
    height: 42%;
  }
  43% {
    width: 43%;
    height: 43%;
  }
  44% {
    width: 44%;
    height: 44%;
  }
  45% {
    width: 45%;
    height: 45%;
  }
  46% {
    width: 46%;
    height: 46%;
  }
  47% {
    width: 47%;
    height: 47%;
  }
  48% {
    width: 48%;
    height: 48%;
  }
  49% {
    width: 49%;
    height: 49%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  51% {
    width: 51%;
    height: 51%;
  }
  52% {
    width: 52%;
    height: 52%;
  }
  53% {
    width: 53%;
    height: 53%;
  }
  54% {
    width: 54%;
    height: 54%;
  }
  55% {
    width: 55%;
    height: 55%;
  }
  56% {
    width: 56%;
    height: 56%;
  }
  57% {
    width: 57%;
    height: 57%;
  }
  58% {
    width: 58%;
    height: 58%;
  }
  59% {
    width: 59%;
    height: 59%;
  }
  60% {
    width: 60%;
    height: 60%;
  }
  61% {
    width: 61%;
    height: 61%;
  }
  62% {
    width: 62%;
    height: 62%;
  }
  63% {
    width: 63%;
    height: 63%;
  }
  64% {
    width: 64%;
    height: 64%;
  }
  65% {
    width: 65%;
    height: 65%;
  }
  66% {
    width: 66%;
    height: 66%;
  }
  67% {
    width: 67%;
    height: 67%;
  }
  68% {
    width: 68%;
    height: 68%;
  }
  69% {
    width: 69%;
    height: 69%;
  }
  70% {
    width: 70%;
    height: 70%;
  }
  71% {
    width: 71%;
    height: 71%;
  }
  72% {
    width: 72%;
    height: 72%;
  }
  73% {
    width: 73%;
    height: 73%;
  }
  74% {
    width: 74%;
    height: 74%;
  }
  75% {
    width: 75%;
    height: 75%;
  }
  76% {
    width: 76%;
    height: 76%;
  }
  77% {
    width: 77%;
    height: 77%;
  }
  78% {
    width: 78%;
    height: 78%;
  }
  79% {
    width: 79%;
    height: 79%;
  }
  80% {
    width: 80%;
    height: 80%;
  }
  81% {
    width: 81%;
    height: 81%;
  }
  82% {
    width: 82%;
    height: 82%;
  }
  83% {
    width: 83%;
    height: 83%;
  }
  84% {
    width: 84%;
    height: 84%;
  }
  85% {
    width: 85%;
    height: 85%;
  }
  86% {
    width: 86%;
    height: 86%;
  }
  87% {
    width: 87%;
    height: 87%;
  }
  88% {
    width: 88%;
    height: 88%;
  }
  89% {
    width: 89%;
    height: 89%;
  }
  90% {
    width: 90%;
    height: 90%;
  }
  91% {
    width: 91%;
    height: 91%;
  }
  92% {
    width: 92%;
    height: 92%;
  }
  93% {
    width: 93%;
    height: 93%;
  }
  94% {
    width: 94%;
    height: 94%;
  }
  95% {
    width: 95%;
    height: 95%;
  }
  96% {
    width: 96%;
    height: 96%;
  }
  97% {
    width: 97%;
    height: 97%;
  }
  98% {
    width: 98%;
    height: 98%;
  }
  99% {
    width: 99%;
    height: 99%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes badgegrow {
  0% {
    width: 0%;
  }
  1% {
    width: 1%;
  }
  2% {
    width: 2%;
  }
  3% {
    width: 3%;
  }
  4% {
    width: 4%;
  }
  5% {
    width: 5%;
  }
  6% {
    width: 6%;
  }
  7% {
    width: 7%;
  }
  8% {
    width: 8%;
  }
  9% {
    width: 9%;
  }
  10% {
    width: 10%;
  }
  11% {
    width: 11%;
  }
  12% {
    width: 12%;
  }
  13% {
    width: 13%;
  }
  14% {
    width: 14%;
  }
  15% {
    width: 15%;
  }
  16% {
    width: 16%;
  }
  17% {
    width: 17%;
  }
  18% {
    width: 18%;
  }
  19% {
    width: 19%;
  }
  20% {
    width: 20%;
  }
  21% {
    width: 21%;
  }
  22% {
    width: 22%;
  }
  23% {
    width: 23%;
  }
  24% {
    width: 24%;
  }
  25% {
    width: 25%;
  }
  26% {
    width: 26%;
  }
  27% {
    width: 27%;
  }
  28% {
    width: 28%;
  }
  29% {
    width: 29%;
  }
  30% {
    width: 30%;
  }
  31% {
    width: 31%;
  }
  32% {
    width: 32%;
  }
  33% {
    width: 33%;
  }
  34% {
    width: 34%;
  }
  35% {
    width: 35%;
  }
  36% {
    width: 36%;
  }
  37% {
    width: 37%;
  }
  38% {
    width: 38%;
  }
  39% {
    width: 39%;
  }
  40% {
    width: 40%;
  }
  41% {
    width: 41%;
  }
  42% {
    width: 42%;
  }
  43% {
    width: 43%;
  }
  44% {
    width: 44%;
  }
  45% {
    width: 45%;
  }
  46% {
    width: 46%;
  }
  47% {
    width: 47%;
  }
  48% {
    width: 48%;
  }
  49% {
    width: 49%;
  }
  50% {
    width: 50%;
  }
  51% {
    width: 51%;
  }
  52% {
    width: 52%;
  }
  53% {
    width: 53%;
  }
  54% {
    width: 54%;
  }
  55% {
    width: 55%;
  }
  56% {
    width: 56%;
  }
  57% {
    width: 57%;
  }
  58% {
    width: 58%;
  }
  59% {
    width: 59%;
  }
  60% {
    width: 60%;
  }
  61% {
    width: 61%;
  }
  62% {
    width: 62%;
  }
  63% {
    width: 63%;
  }
  64% {
    width: 64%;
  }
  65% {
    width: 65%;
  }
  66% {
    width: 66%;
  }
  67% {
    width: 67%;
  }
  68% {
    width: 68%;
  }
  69% {
    width: 69%;
  }
  70% {
    width: 70%;
  }
  71% {
    width: 71%;
  }
  72% {
    width: 72%;
  }
  73% {
    width: 73%;
  }
  74% {
    width: 74%;
  }
  75% {
    width: 75%;
  }
  76% {
    width: 76%;
  }
  77% {
    width: 77%;
  }
  78% {
    width: 78%;
  }
  79% {
    width: 79%;
  }
  80% {
    width: 80%;
  }
  81% {
    width: 81%;
  }
  82% {
    width: 82%;
  }
  83% {
    width: 83%;
  }
  84% {
    width: 84%;
  }
  85% {
    width: 85%;
  }
  86% {
    width: 86%;
  }
  87% {
    width: 87%;
  }
  88% {
    width: 88%;
  }
  89% {
    width: 89%;
  }
  90% {
    width: 90%;
  }
  91% {
    width: 91%;
  }
  92% {
    width: 92%;
  }
  93% {
    width: 93%;
  }
  94% {
    width: 93%;
  }
  95% {
    width: 93%;
  }
  96% {
    width: 93%;
  }
  97% {
    width: 93%;
  }
  98% {
    width: 93%;
  }
  99% {
    width: 93%;
  }
  100% {
    width: 93%;
  }
}

@media screen and (max-width: 844px){
  .mvp-container{
    height: 48rem !important;
    margin-top: 2rem !important;
  }

  .mvp {    
    flex-direction: column !important;
    height: 100%!important;
    gap: 2rem !important;
  }

  .mvp-description{
    width: 100% !important;
    height: 30rem !important;
  }

  .mvp-heading{
    height: 10rem !important;
  }

  .mvp-image-container{
    width: 100% !important;
  }

  .mvp-image{
    width: 30% !important;
  }

  .mvp-image img{
    width: 100% !important;
  }

  .mvp-heading h2{
    line-height: normal !important;
  }

  .showcase{
    height: auto !important;
    margin-top: 2rem !important;
  }

  .showcase-layout {
    grid-template-columns: 1fr !important;
    row-gap: 1rem; 
  }

  .showcase-left, .showcase-right {
    grid-column: span 12 !important; 
    grid-template-columns: 1fr !important; 
    transform: translateY(0%) !important;
  }

  .advertise-container{
    height: 200rem !important;
    gap: 2rem;
  }

  .download-container{
    grid-template-columns: 1fr !important;
    height: 70rem !important;
  }

  .phone-icon-container{
    width: 100% !important;
  }

  .download-description{
    padding: 0 10px 0 10px;
  }

  .download-text{
    padding: 0 10px 0 10px;
  }

  .badge-container{
    position:  relative !important;
    margin-bottom: 0 !important;
    width: 93%;
  }

  .badge-container-open{
    animation: none !important;
  }

  .find-us-container{
    height: 100% !important;
  }
  
  .find-us{
    flex-direction: column !important;
    margin-top: 0 !important;
    height: 100% !important;
  }

  .find-us-section{
    width: 100% !important;
  }
}
