
.prodcut-detail-container{
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

.product-detail-layout{
    width: 93%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 2rem;
}

.product-detail-images-container{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3.125rem 0 3.125rem 0;
}

.product-detail-images-layout{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.product-subimg-container{
    position: relative;
    width: 9.375rem;
    height: 100%;
    display: grid;
    row-gap: 9px;
}

.product-subimg{
    max-width: 100%;
    height: 100%;
}

.product-subimg img{
    position: relative;
    width: 100%;
    height: 100%;
}

.product-mainimg-container{
    width: 30rem;  
    height: 100%;
}

.product-mainimg-container img{
    position: relative;
    width: 100%;
    height: 100%;
}

.product-mvp-container{
    position: relative;
    width: 40.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-mvp-heading{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.product-heading{
    width: 100%;
}

.product-heading h4{
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
}

.prodcut-sub-heading{
    width: 100%;
   
}

.prodcut-sub-heading p{
    font-size: 16px;
    font-weight: 400;
}

.brand{
    margin-top: 0;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price p{
    font-size: 25px;
    font-weight: 400;
    line-height: 0;
}

.brand-name{
    color: #4A4CCD;
}

.price-number{
    font-weight: 700;
    font-size: 25px;
    margin-top: 0;
    margin-left: 0.75rem;
}

.product-mvp-text{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-mvp-text p{
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}

.product-mvp-button{
    width: 100%;
    height: 3rem;
}

.product-mvp-button button{
    width: 214px;
    height: 100%;
    border-radius: 360px;
    background-color: #4A4CCD;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    gap: 8px;
}

.product-bottom-description-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-bottom-description-container h1{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    line-height: 30px;
}

.product-bottom-description-container ul{
    margin-top: 0;
}

.product-bottom-description-container ul li{
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px;  
}

.related-products-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.related-products-container h1{
    font-size: 20px;
    font-weight: 700;
}

.related-products{
   width: 100%;
   display: flex;
   place-items: center;
   justify-content: center;
}

.related-products-layout{
    width: 100%;
    display: flex;
    place-items: center; 
    justify-content: center;
}

.related-product-layout{
    width: 95%;
    display: flex;
   flex-wrap: wrap;
   gap:1rem;
}

.related-product{
    width: 18.75rem;
    height: 18.75rem;
    border: 1px solid gray;
}

.related-product:hover{
    cursor: pointer;
}

.related-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1150px){
    .product-detail-images-container{
        height: 65rem;
        width: 100%;
        display: grid;
        gap: 2rem;
       }
    
       .product-detail-images-layout{
        height: 31.5rem;
        width: 100%;
       }
    
       .product-subimg-container{
        height: 100%;
        width: 13rem;
       }
    
       .product-mainimg-container{
        height: 100%;
        width: 100%;
       }
    
       .product-mvp-container{
        width: 100%;
       }
    
       .product-mainimg-container img{
        width: 100%;
        height: 100%;
    }

    .related-product-layout{
       gap:3.5rem;
    }

    .related-product{
        width: 15.75rem;
        height: 15.75rem;
        border: 1px solid gray;
    }
    
}

@media screen and (max-width: 844px){
   .product-detail-images-container{
    height: 74rem;
    width: 100%;
    display: grid;
    row-gap: 2rem;
   }

   .product-detail-images-layout{
    flex-direction: column;
    height: 31.5rem;
    width: 100%;
   }

   .product-subimg-container{
    grid-template-columns: repeat(3,1fr);
    height: 100%;
    width: 100%;
    column-gap: 10px;
   }

   .product-mainimg-container{
    height: 100%;
    width: 100%;
   }

   .product-mvp-container{
    width: 100%;
   }

   .product-mainimg-container img{
    width: 100%;
    height: 100%;
}

.product-mvp-text p{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.related-product-layout{
    column-gap: 2rem;
    row-gap: 1.5rem;
 }

.related-product{
    width: 10rem;
    height: 10rem;
    border: 1px solid gray;
}


 }