.product-cms-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-heading{
    width: 80vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.table-heading button{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background-color: white;
    border: 2px solid black;
    transition-duration: 0.5s;
    padding: 7px 9px 7px 9px;
    font-size: 16px;
    box-shadow: 0 2px 2px gray;
}

.table-heading button:hover{
    cursor: pointer;
    background-color: rgb(49, 66, 151);
    color: white;
}

.table-heading button p{
    line-height: 0;
}

.table-container{
    width: 80vw;
}