.prodcut-detail-container {
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 50px 0 100px 0;
  background-color: #B1B3B6;
}

.product-detail-layout {
  width: 93%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product-detail-images-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}

.product-detail-images-layout {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.product-subimg-container {
  display: grid;
  row-gap: 9px;
}

.product-subimg {
  width: 9.375rem;
  height: 9.375rem;
}

.product-subimg img {
  width: 100%;
  height: 100%;
}

.product-mainimg-container img {
  width: 480px;
  height: 480px;
  object-fit: cover;
}

.product-mvp-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.product-mvp-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-heading {
  width: 100%;
}

.product-heading h4 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
}

.prodcut-sub-heading {
  width: 100%;
}

.prodcut-sub-heading p {
  font-size: 16px;
  font-weight: 400;
}

.brand {
  margin-top: 0;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price p {
  font-size: 25px;
  font-weight: 400;
  line-height: 0;
}

.brand-name {
  color: #4a4ccd;
}

.price-number {
  font-weight: 700;
  font-size: 25px;
  margin-top: 0;
  margin-left: 0.75rem;
}

.product-mvp-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-mvp-text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.product-mvp-button {
  width: 100%;
  height: 3rem;
}

.product-mvp-button button {
  width: 214px;
  height: 100%;
  border-radius: 360px;
  background-color: #4a4ccd;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: center;
  gap: 8px;
}

.product-mvp-button button:hover{
  cursor: pointer;
}

.product-bottom-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-bottom-description-container h1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  line-height: 30px;
}

.product-bottom-description-container ul {
  margin-top: 0;
}

.product-bottom-description-container ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.related-products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.related-products-container h1 {
  font-size: 20px;
  font-weight: 700;
}

.related-products {
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.related-products-layout {
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.related-product-layout {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
}

.related-product {
  width: 18.75rem;
  height: 18.75rem;
  border: 1px solid gray;
}

.related-product:hover {
  cursor: pointer;
}

.related-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.related-product-heading{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }

 .pagination-controls button{
    background-color: transparent;
 }

@media screen and (max-width: 1024px) {
  /* .product-detail-images-container {
    display: grid;
    gap: 2rem;
  } */

  .product-detail-images-layout{
    flex-direction: column;
  }

  .product-mainimg-container {
    order: -1; 
  }

  .product-subimg-container {
    order: 1; 
  }

   .product-subimg-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

   .product-mvp-button button{
    width: 100%;
   }

   .related-product{
    width: 17.75rem;
    height: 17.75rem;
   }

   /* .product-subimg img{
    width: 100%;
   } */
}

@media screen and (max-width: 844px) {
  .product-detail-images-container{
     flex-direction: column;
  }

  .product-detail-images-layout {
    flex-direction: column;
    overflow: hidden;
  }

  .product-subimg-container {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    column-gap: 10px;
  }

  .product-subimg{
    width: 100%;
    height: 9rem;
  }

  .product-mainimg-container{
    height: 100%;
   }

   .product-mainimg-container img{
    height: 100%;
    width: 100%;
   }

   .related-product{
    width: 10.75rem;
    height: 10.75rem;
   }

   .related-product-layout{
    justify-content: flex-start;
   }
  /* .pagination-controls{
        gap: 15px;
     }

   .product-detail-images-container{
    height: 74rem;
    width: 100%;
    display: grid;
    row-gap: 2rem;
   }

   .product-detail-images-layout{
    flex-direction: column;
    height: 31.5rem;
    width: 100%;
   }

   .product-subimg-container{
    grid-template-columns: repeat(3,1fr);
    height: 100%;
    width: 100%;
    column-gap: 10px;
   }

   .product-mainimg-container{
    height: 100%;
    width: 100%;
   }

   .product-mvp-container{
    width: 100%;
   }

   .product-mainimg-container img{
    width: 100%;
    height: 100%;
}

.product-mvp-text p{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.related-product-layout{
    column-gap: 2rem;
    row-gap: 1.5rem;
 }

.related-product{
    width: 10rem;
    height: 10rem;
    border: 1px solid gray;
} */
}


