
.store-section-container, .service-section-container{
    width: 100%;
    height: 50.75rem;
}

.storeandservice-container{
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

.sub-nav-links{
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

.sub-nav-links-layout{
    width: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.sub-nav-link-layout p,span{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
}

.storeandservice-layout{
    width: 93%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.storeandservice-layout h1{
    font-size: 20px;
    font-weight: 700;
}

.store-service-description-container{
    width: 100%;
    height: 36.5rem;   
    place-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
}

.store-service-description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.store-service-description-img-container{
    width: 100%;
    height: 20rem;
}

.store-service-description-img-container img{
    position: relative;
   height: 100%;
   width: 100%;
}

.store-service-description-text{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-service-description-text h4{
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.store-service-detail-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.store-service-detail-text p{
    text-align: center;
    font-size: 15px;
}

.store-service-btn-container{
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.store-service-btn-container button{
    height: 100%;
    width: 167px;
    border-radius: 360px;
    background-color: #4A4CCD;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 8px;
}

@media screen and (max-width: 844px){
    .store-service-description-container{
        grid-template-columns: repeat(1,1fr);
        row-gap: 2rem;
        height: 100%;
    }

    .store-section-container, .service-section-container{
        height: 99.75rem;
    }

    .storeandservice-layout{
        height: 100%;
    }

    .store-service-description-text{
        height: 18rem;
    }
}
